$primary: #106F6F;
$secondary: #E6CE56;


.primary {
    padding: 1.5rem 1rem;
    border-radius: 50px;
    background-color: $primary;
    color: #F5F5F5;
    font-size: 1.875rem;
    text-align: center;
}

.secondary {

}